[package]
name = "imgui-winit"
version = "0.1.0"
authors = ["Jay Oster <jay@kodewerx.org>"]
edition = "2021"
publish = false

[features]
optimize = ["log/release_max_level_warn"]
default = ["optimize"]

[dependencies]
env_logger = "0.10"
error-iter = "0.4"
imgui = "0.11"
imgui-winit-support = "0.11"
log = "0.4"
winit = "0.27"
winit_input_helper = "0.13"

# Until this gets updated support, this example is stuck on winit 0.27 and wgpu 0.17
[dependencies.imgui-wgpu]
version = "0.24"

# Frozen dep for this specific example
[dependencies.pixels]
version = "0.14"
